.main {
  padding: 20px;
  padding-top: 0px;
}

.menu {
  background-color: #f8f8f8;
  border-bottom-style: groove;
  text-align: center;
  font-size: 18px;
  line-height: 27px;
  height: 50px;
}

.left {
  top: -3px;
  font-size: 25px;
  position: absolute;
  left: 0px;
}

.active {
  background-color: #e9e9e9;
}

#answers, .answerRes {
  padding-left: 5px;
  background-color: rgba(100, 65, 164, 0.4);
  border-left: 5px solid #6441a4;
  width: 200px;
}

#chart {
  float: right;
  position: absolute;
  top: -20px;
  right: 0px;
}

.songController {
  float: left;
  width: 400px;
}

#player {
  float: right;
}

.songQueue {
  float: left;
}

#songItem {
  width: 100%;
  background-color: #c4c4c4;
}

#songItem:last-child {
  margin-bottom: 20px;
}

#songItem {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 91px;
  border: 1px solid black;
}

#songItemInfo {
  position: relative;
  top: -80px;
  left: 130px;
}

.profile {
  z-index: 5;
  position: absolute;
  font-size: 16px;
  right: 130px;
  top: 40px;
  width: 300px;
  height: 90px;
  border: groove #3c3e46;
  background-color: #ffffff;
  padding: 10px;
  line-height: 20px;
  user-select: none;
}

.profLeft {
  float: right;
  padding-right: 10px;
}

.hidden {
  z-index: -1;
  display: "none";
}

.commText {
  padding: 10px;
}

#dashboard, #twitter {
  height: 770px;
  background-color: #c9c9c9;
  margin: 5px;
  width: 350px;
}

#twitter {
  overflow-y: auto;
}

#twitchChat {
  top: 5px;
  height: 770px;
  margin-right: -10px;
  margin-left: -10px;
  width: 360px;
}

.adminPanel {
  width: 100%;
}

#streamInfo {
  margin-top: 10px;
}

#update {
  float: right;
}

.tweet {
  width: 100%;
  border-bottom: 1px solid black
}

.tweet:last-child {
  margin-bottom: 10px;
}

.follower {
  margin-top: -1px;
}

#subMsg, #resubMsg {
  width: 100%;
}

#logMenu {
  float: right;
  position: relative;
  top: -88px;
  right: 0px;
  width: 100px;
  height: 130px;
  background-color: #a8a8a8;
  border: 1px solid black;
  text-align: center;
  color: #ffffff;
}

#logMenu a {
  color: #ffffff;
}

.logItem {
  margin-bottom: -20px;
}

.logItem:hover {
  width: 100%;
  background-color: #868686;
}

.commandsAdmin {
  padding: 10px;
  background-color: #c9c9c9;
  border: 1px solid black;
}

.create {
  float: right;
}

.songItemHistory {
  position: relative;
  display: block;
  width: 100%;
  height: 91px;
  border: 1px solid black
}

.songItemHistory p {
  position: absolute;
  top: 5px;
  left: 130px;
}

#name, #nameShort {
  user-select: none;
  margin-top: -9px;
  cursor: pointer;
}

.hover, #name:hover, #nameShort:hover {
  background-color: lightgray;
}

#ytlink {
  color: #6441A4;
}

#played {
  background-color: rgba(177, 52, 52, 0.64);
}

#playing {
  background-color: rgba(52, 177, 95, 0.64);
}

#showBox {
  display: none;
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(50, 50, 50, 0.7);
}

#showStuff {
  width: 500px;
  height: 450px;
  background-color: #ffffff;
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 20px;
}

#showComms {
  width: 500px;
  height: 230px;
  background-color: #ffffff;
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 20px;
}

#gifSpot {
  margin: 0 auto;
  padding-top: 20px;
  width: 300px;
  height: 300px;
}

#showText {
  display:flex;
  align-items: center;
  justify-content: center;
  line-height: 100px;
}

#bigMenuSearch {
  position: absolute;
  font-size: 16px;
  width: 200px;
  top: 8px;
  right: 20px;
  height: 31px;
}

#smallMenuSearch {
  position: absolute;
  font-size: 16px;
  top: 6px;
  right: 50px;
}

#loginBtn {
  position: absolute;
  top: 7px;
  right: 230px;
}

#fullProfile {
  position: absolute;
  top: 10px;
  right: 230px;
}

#fullProfileSmall {
  position: absolute;
  top: 10px;
  right: 50px;
}

.pf {
  border: 1px solid black;
  float: left;
  margin-right: 10px;
  cursor: pointer;
}

#xpBar {
  position: relative;
  width: 155px;
  height: 155px;
  top: -150px;
  left: 65px;
  cursor: pointer
}

#userPf {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

#xpText {
  margin-top: -150px;
  font-size: 18px;
}

.userProfile {
  text-align: center;
}

#logTop {
  padding: 10px;
  margin-top: 10px;
  background-color: #c9c9c9;
}

#allLogs {
  margin-top: 10px;
  background-color: #c9c9c9;
}

#logTop h3 {
  margin-top: 0px;
}

.logs {
  padding: 10px;
  padding-bottom: 0px;
  border-bottom: 1px solid black;
}

.logs:last-child {
  margin-bottom: 20px;
}

#logDiv {
  float: left;
  width: 100%;
}

.userProfile h3 {
  margin-top: -5px;
  font-size: 26px;
}

.smallFull {
  position: relative;
  left: 0;
  right: 0;
  top: 100%;
  padding: 0 100em;
  margin: 0 -100em;
  background-color: rgba(255, 255, 255, 0.69);
}

.userProfile, .userInfo, .userRanks {
  margin-top: 20px;
  padding: 5px;
  padding-left: 10px;
  float: left;
  margin-right: 33px; margin-left: 33px;
  width: 300px;
  height: 290px;
  background-color: #c9c9c9;
}

#menu a:hover {
  color: darkgray;
}

#loop {
  position: absolute;
  padding: 10px;
  right: 10px;
  top: 5px;
  cursor: pointer;
}

a, a:hover, a:focus {
  color: gray;
  text-decoration: none;
}

html {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  overflow-x: hidden;
}

@media screen and (min-width: 1420px) {
  .short {
    display: none;
  }
  .long {
    display: inherit;
  }
  #smallMenu {
    display: none;
  }
  .songQueue {
    width: 440px;
  }
}

@media screen and (max-width: 1420px) {
  .short {
    display: inherit;
  }
  .long {
    display: none;
  }
  #smallMenu {
    display: none;
  }
  .songQueue {
    width: 440px;
  }
}

@media screen and (max-width: 1300px) {
  #bigMenu {
    display: none;
  }
  #smallMenu {
    display: inherit;
  }
  .long {
    display: none;
  }
  .short {
    display: inherit;
  }
  .profile {
    right: 0px;
  }
  #loginBtn {
    position: absolute;
    right: 50px;
    top: 7px;
  }
  .songQueue {
    width: 100%;
  }
}
