<% include adminheader.ejs %>
<div class="top"><h1>Admin logs</h1></div>
<div class="search"><input id="searchBar" type="text"></div>
<div class="main"><br>

<div id="logMenu">
<u>Log menu</u>
<p onclick="window.location.replace('/admin/logs')">All</p>
<p onclick="window.location.replace('/admin/logs/points')">Points</p>
<p onclick="window.location.replace('/admin/logs/timeout')">Timeout</p>
<p onclick="window.location.replace('/admin/logs/sub')">Subs</p>
<p onclick="window.location.replace('/admin/logs/login')">Login</p>
</div>

<% if (log != false) { %>
<% log.forEach(function(log) { %>
<tt>
[<%= log.time.toLocaleDateString('nl-nl', {day: '2-digit', month: '2-digit', year: 'numeric'}) %> 
<%= log.time.toLocaleTimeString('nl-nl', {hour12: false}); %>] [<%= log.type %>] <%= log.log %><br>
</tt>
<% }); %>
<% } else { %>
There are no logs recorded
<% } %>

</div>
<script type="text/javascript" src="/../js/yucisite.js"></script>
</body>