<% include ../header.ejs %>
<div class="main">
<h2>Admin logs</h2>
<% if(!type) { %>
<div id="logTop"><h3>Couldn't find a record of these logs</h3> <button id="allLogBtn"><a href="/user/<%= name %>/logs">All logs</a></button>
<% } else if(type == "all") { %>
<div id="logTop"><h3>Showing all admin logs</h3>
<% } else { %>
<div id="logTop"><h3>Showing <%= type %> logs</h3>
<% } %>
<p>Search logs: <input id="searchBarLogs" type="text" placeholder="Chat log">
</div>
<div id="logMenu">
<u>Log menu</u><br>
<p class="logItem"><a href='/admin/logs'>All</a></p><br>
<p class="logItem"><a href='/admin/logs/points'>Points</a></p><br>
<p class="logItem"><a href='/admin/logs/timeout'>Timeout</a></p><br>
<p class="logItem"><a href='/admin/logs/sub'>Subs</a></p><br>
<p class="logItem"><a href='/admin/logs/login'>Login</a></p><br>
</div>

<% if (log != false) { %>
<div id="allLogs">
<% log.forEach(function(log) { %>
<div class="logs" id="<%= log.id %>"><p>
[<%= log.time.toLocaleDateString('nl-nl', {day: '2-digit', month: '2-digit', year: 'numeric'}) %>
<%= log.time.toLocaleTimeString('nl-nl', {hour12: false}); %>] [<%= log.type %>] <%= log.log %><br>
</p></div>
<% });} %>

</div>
<script type="text/javascript" src="/../js/yucisite.js"></script>
<script>
function changeDateAdmin() {
  var x = document.getElementById("myDate");
  var date = x.value;
  var url = location.href.split("/")
  if (url[5]) {
    window.location.href = "/admin/logs/" + url[5] + "/" + date
  } else {
    window.location.href = "/admin/logs/" + date
  }
}

$("#searchBarLogs").keyup(function() {
  var input = document.getElementById("searchBarLogs");
  var filter = input.value.toLowerCase();
  var log = document.getElementsByClassName("logs");
  for (var x = 0; x < log.length; x++) {
    if (log[x].innerHTML.toLowerCase().indexOf(filter) > -1) {
      log[x].style.display = "";
    } else {
      log[x].style.display = "none";
    }
  }
})
</script>
</body>
