<% include ../header.ejs %>
<div class="main">
<h2>Manage commands<small><button class="create">Create command</button></small></h2>
<% commands.forEach(function(commands) { %>
  <div class="commandsAdmin">
    <b>Command:</b> <%= commands.commName %> <br>
    <% if (commands.commDesc != null) { %> <b>Description:</b> <%= commands.commDesc %> <br> <% } %>
    <% if (commands.response != null) { %><b>Response:</b> <%= commands.response %> <br> <% } %>
    <% if (commands.commUse != null) { %> <b>Usage:</b><br> <%= commands.commUse %> <br> <% } %>
    <b>Cooldown type:</b> <%= commands.cdType %> <br>
    <b>Cooldown:</b> <%= commands.cd %> seconds <br>
    <b>User level:</b> <%= commands.level %> <br>
    <% if (commands.points != 0) { %> <b>Point cost:</b> <%= commands.points %> points <br> <% } %>
    <button class="remove" id=<%= commands.commName %>>Remove command</button> <button class="edit" id=<%= commands.commName %>>Edit command</button>
  </div>
<% }) %>
</div>
<script type="text/javascript" src="/../js/yucisite.js"></script>
<script type="text/javascript" src="/../js/commands.js"></script>
</body>
