<% include adminheader.ejs %>
<div class="top"><h2>Edit command</h2></div>
<div class="main">
<% if (commands[0] != undefined) { %>
  <p>
    Command: <%= commands[0].commName %> <br>
    Response: <input type="text" id="response" size=100 value="<%= commands[0].response %>"> <br>
    Level: <input type="number" min=100 max=500 size=3 id="level" value=<%= commands[0].level %>> <br>
    Cooldown type: <select id="cdType"><option value="global" selected>Global</option><option value="user">User</option></select> <br>
    Cooldown: <input type="number" min=1 max=3600 size=4 id="cd" value=<%= commands[0].cd %>> <br>
  </p>
  <button id="update">Submit</button>
<% } else { %>
  <p>Couldn't find a command with that name. Please try again</p>
<% } %>
</div>
<script type="text/javascript" src="/../js/yucisite.js"></script>
<script type="text/javascript" src="/../js/commands.js"></script>
</body>
