<% include ../header.ejs %>
<div class="main">
<h2>Enable / disable modules</h2>
<p>You can enable or disable all the modules here. <br>
Doesn't the module start working after activation? <button class="btn btn-danger" onclick="restartBot()">Restart bot</button> </p>
<table class="table moduleTable">
  <tr>
    <th>Module</th>
    <th>Description</th>
    <th>Change</th>
  </tr>
<% moduleList.forEach(function(moduleList) { %>
  <tr>
    <td><%= moduleList.shortName %></td>
    <td><%= moduleList.moduleDescription %></td>
    <td>
    <input type="checkbox" id="<%=moduleList.moduleName%>" class="moduleSwitch" name="checkbox" <% if (moduleList.state == "1") { %> checked<% } else { %>  <% } %>>
    <a href="/admin/modules/<%= moduleList.moduleName %>/"><button class="btn btn-info">Settings</button></a>
    </td>
  </tr>
<% }); %>
</table>
</div>
<script type="text/javascript" src="/../js/yucisite.js"></script>
<script type="text/javascript" src="/../js/modules.js"></script>
</body>
