<% include adminheader.ejs %>
<div class="top"><h2>Modules</h2></div>
<div class="main">
<h2>Enable / disable modules</h2>
<p>You can enable or disable all the modules here. <br>
Doesn't the module start working after activating? <button onclick="restartBot()">Restart bot</button> </p>
<table class="moduleTable">
  <tr>
    <th>Module</th>
    <th>State</th>
    <th>Description</th>
    <th>Change</th>
  </tr>
<% moduleList.forEach(function(moduleList) { %>
  <tr>
    <td><%= moduleList.moduleName %></td>
    <td><%= moduleList.state %></td>
    <td><%= moduleList.moduleDescription %></td>
    <td>
    <button onclick="disableModule('<%= moduleList.moduleName %>')">Disable</button>
    <button onclick="enableModule('<%= moduleList.moduleName %>')">Enable</button>
    <a href="/admin/modules/<%= moduleList.moduleName %>"><button>Settings</button></a>
    </td>
  </tr>
<% }); %>
</table>
</div>
<script type="text/javascript" src="/../js/yucisite.js"></script>
</body>
