<% include adminheader.ejs %>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/css-toggle-switch/latest/toggle-switch.css" />
<div class="top"><h2>Modules</h2></div>
<div class="main">
<% if (isSub != true) { %>
<h2>Module settings: <%= moduleInfo[0].type %></h2>
<p>
  <table class="moduleTable">
    <tr>
      <th>Module</th>
      <th>State</th>
      <th>Description</th>
      <th>Change</th>
    </tr>
  <% moduleInfo.forEach(function(moduleInfo) { %>
    <tr>
      <td><%= moduleInfo.shortName %></td>
      <td><% if (moduleInfo.state == "1") { %> <span style="color: green;">On</span> <% } else { %> <span style="color: red;">Off</a> <% } %></td>
      <td><%= moduleInfo.moduleDescription %></td>
      <td>
      <button onclick="disableModule('<%= moduleInfo.moduleName %>')">Disable</button>
      <button onclick="enableModule('<%= moduleInfo.moduleName %>')">Enable</button>
      <a href="<%= moduleInfo.moduleName %>"><button>Settings</button></a>
      </td>
    </tr>
  <% }); %>
  </table>
</p>
<% } else { %>
<h2>Module settings: <%= type %></h2>
<p>
<% if (type == "songrequest") { %>

  Sub-only songrequest
  <div class="onoffswitch">
    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox modSwitch" id="srSub" <% if (moduleInfo[0].value == "1") { %> checked <% } else { %>  <% } %> >
    <label class="onoffswitch-label" for="srSub"></label>
  </div><br>

  Max songs in queue <br>
  <input type="number" min=1 max=10 size=4 id="srMaxSong" value="<%= moduleInfo[1].value %>"><br><br>

  Max songlength (in seconds) <br>
  <input type="number" min=60 max=3600 size=4 id="srMaxLength" value="<%= moduleInfo[2].value %>"><br><br>

  <button id="modChange">Update module</button>

<% } else if (type == "roulette") { %>

  Minimum amount of points for roulette <br>
  <input type="number" min=1 size=4 id="roulMin" value="<%= moduleInfo[0].value %>"><br><br>

  Cooldown (in seconds) <br>
  <input type="number" min=10 max=3600 size=4 id="roulCd" value="<%= moduleInfo[1].value %>"><br><br>

  <button id="modChange">Update module</button>

<% } else if (type == "slot") { %>

  Cooldown (in seconds) <br>
  <input type="number" min=10 max=3600 size=4 id="slotCd" value="<%= moduleInfo[0].value %>"><br><br>

  <button id="modChange">Update module</button>

<% } else if (type == "dungeon") { %>

  Work in progress, more will be added in V1.4

<% } else if (type == "updatePoints") { %>

  Point interval (in minutes) <br>
  <input type="number" min=1 max=60 size=4 id="pointInterval" value="<%= moduleInfo[0].value %>"><br><br>

  Points per interval <br>
  <input type="number" min=1 max=100 size=4 id="amountPoints" value="<%= moduleInfo[1].value %>"><br><br>

  <button id="modChange">Update module</button>

<% } else if (type == "subNotif") { %>

  New subcribers message <br>
  <i>[username] = sub name, is a requirement in the sub message</i> <br>
  <input type="text" id="subMsg" size=450 value="<%= moduleInfo[0].message %>"> <br>

  Resubscriber message <br>
  <i>[username] = sub name & [months] = number of months, are a requirement in the resub message</i> <br>
  <input type="text" id="resubMsg" size=450 value="<%= moduleInfo[1].message %>"> <br>

  <button id="modChange">Update module</button>

<% } else if (type == "linkMod") { %>

  Allow subs to post links
  <div class="onoffswitch">
    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox modSwitch" id="linkSubOnly" <% if (moduleInfo[0].value == "1") { %> checked <% } else { %>  <% } %> >
    <label class="onoffswitch-label" for="linkSubOnly"></label>
  </div><br>

  Timeout for posting links (in seconds) <br>
  <input type="number" min=1 max=600 size=4 id="linkTimeoutTime" value="<%= moduleInfo[1].value %>"><br><br>

  <button id="modChange">Update module</button>

<% } else if (type == "clrComm") { %>

  Cost per CLR command <br>
  <input type="number" min=1 max=1000000 size=4 id="clrCost" value="<%= moduleInfo[0].value %>"><br><br>

  Cooldown (in seconds) <br>
  <input type="number" min=1 max=3600 size=4 id="clrCd" value="<%= moduleInfo[1].value %>"><br><br>

  <button id="modChange">Update module</button>

<% } else if (type == "clrSub") { %>
  This feature has not yet been implemented
  <!-- MESSAGE
  IMAGE
  SOUND
  MONTH MODIFIER -->
<% } else { %>
  No futher settings available at the moment.
<% } %>

<p id="showText"></p>
<!-- THIS IS A SHITTY LOOKING MODAL, UPDATE WHEN YOU ADD BOOTSTRAP PLEASE -->

</p>
<% } %>
</div>
<script type="text/javascript" src="/../js/yucisite.js"></script>
<script type="text/javascript" src="/../js/modules.js"></script>
</body>
