<% include adminheader.ejs %>
<div class="top"><h2>Modules</h2></div>
<div class="main">
<% if (moduleInfo[0] != undefined) { %>
<h2>Module settings: <%= moduleInfo[0].type %></h2>
<p>
  <table class="moduleTable">
    <tr>
      <th>Module</th>
      <th>State</th>
      <th>Description</th>
      <th>Change</th>
    </tr>
  <% moduleInfo.forEach(function(moduleInfo) { %>
    <tr>
      <td><%= moduleInfo.shortName %></td>
      <td><% if (moduleInfo.state == "1") { %> On <% } else { %> Off <% } %></td>
      <td><%= moduleInfo.moduleDescription %></td>
      <td>
      <button onclick="disableModule('<%= moduleInfo.moduleName %>')">Disable</button>
      <button onclick="enableModule('<%= moduleInfo.moduleName %>')">Enable</button>
      <a href="/admin/modules/<%= moduleInfo.moduleName %>"><button>Settings</button></a>
      </td>
    </tr>
  <% }); %>
  </table>
</p>
<% } else { %>
<h2>Module settings: <%= type %></h2>
<p>
<% if (type == "songrequest") { %>
  SUB ONLY
<% } else if (type == "roulette") { %>
  MIN ROULETTE
  COOLDOWN
<% } else if (type == "slot") { %>
  COOLDOWN
<% } else if (type == "dungeon") { %>
  MIN PARTICIPANTS
  *MORE TO CUM*
<% } else if (type == "updatePoints") { %>
  POINT INTERVAL
  POINTS PER INTERVAL
<% } else if (type == "subNotif") { %>
  NOTIF MESSAGE
<% } else if (type == "linkMod") { %>
  TIMEOUT TIME
  PERMIT COMM
<% } else if (type == "clrComm") { %>
  COST PER TYPE
  COOLDOWN
<% } else if (type == "clrSub") { %>
  MESSAGE
  IMAGE
  SOUND
  MONTH MODIFIER
<% } else { %>
  No futher settings available at the moment.
<% } %>

</p>
<% } %>
</div>
<script type="text/javascript" src="/../js/yucisite.js"></script>
<script type="text/javascript" src="/../js/modules.js"></script>
</body>
