<% include adminheader.ejs %>
<div class="top"><h1>Create poll</h1></div>
<div class="search"><input id="searchBar" type="text"></div>
<div class="main">
<p>
Question: 
<input id="pQuestion" type="text"><br><br>

Answers:
<div class="allAnswers">
<input id="answer[]" type="text"><br>
</div><br>
<button class="addAnswer">Add answer</button><br>
<button class="submit">Submit poll</button>
</p>
</div>
<script type="text/javascript" src="/../js/poll.js"></script>
<script type="text/javascript" src="/../js/yucisite.js"></script>
</body>