<% include ../header.ejs %>
<% include ../../static/js/songlist.ejs %>
<div class="main" ng-app="yucibot" ng-controller="songQueue">
<h2>Songlist <small>Queue length: {{ length }}</small></h2>
<% if(songs == true) { %>
<div class="songController">
	<button type="button" class="btn btn-warning" onclick="previousVideo()">Previous video</button> <button type="button" class="btn btn-danger" onclick="skipVideo()">Skip video</button><br><Br>
	<div class="videoTitle"></div>
</div>
<div id="player"></div>
<div class="songQueue">
<h2>Queue</h2>
<div id="songItem" ng-repeat="x in allSongs">
	<div><img ng-src={{x.thumb}}></div>
	<div id ="songItemInfo"> [{{ $index + 1 }}] {{ x.title }} <br> Requested by: <b>{{ x.name }}</b> <br>
	<button type="button" class="btn btn-default" ng-click="skip(x.songid)" id="skip">Delete</button></div>
</div>
</div>
<% } else { %>
<h3>No songs have been requested so far</h3>
<p>Refresh if people have requested something</p>
<% } %>
<script type="text/javascript" src="../js/yucisite.js"></script>
</body>
