<% include ../header.ejs %>
<% include ../../static/js/songlist.ejs %>
<div class="main" ng-app="yucibot" ng-controller="songQueue">
<h2>Songlist <small>Queue length: {{ length }}</small></h2>
<% if(songs == true) { %>
<div class="songController">
	<button type="button" class="btn btn-warning" onclick="previousVideo()">Previous video</button> <button type="button" class="btn btn-danger" onclick="skipVideo()">Skip video</button><br><Br>
	<div class="videoTitle"></div>
</div>
<div id="player"></div>
<div class="songQueue">
<div class="panel panel-default">
  <div class="panel-heading"><h3>Queue</h3></div>
	<div class="panel-body"><ul class="list-group">
		<div ng-repeat="x in allSongs" ng-if="$index > 0">
			<li class="list-group-item">
				<img id="songItemThumb" ng-src={{x.thumb}}>
				<div id="songItemInfo"> [{{ $index }}] {{ x.title }} <br> Requested by: <b>{{ x.name }}</b> <br>
				<button type="button" class="btn btn-default" ng-click="skip(x.songid)" id="skip">Delete</button></div>
			</li>
		</div>
	</div></ul>
</div>
</div>
<% } else { %>
<h3>No songs have been requested so far</h3>
<p>Refresh if people have requested something</p>
<% } %>
<script type="text/javascript" src="../js/yucisite.js"></script>
</body>