<% include header.ejs %>
<div class="top"><h2>About</h2></div>
<div class="main">

<h3>This is Yucibot</h3>
<p>Yucibot is a project created and managed by Mstiekema. I created this bot as a fun project after being inspired by pajbot and other Twitch bots.
<br>
I saw that a lot of bots lacked some features. With this project, I want to create a bot that has everything that a streamer needs. It should have a songlist, polling system, point system and a lot more! I also started this project so I could learn some coding. The project itself is written in JavaScript / node.js.
</p>

<h3>Features</h3>
<p>The bot has multiple freatures. At the moment the bot has these features:
<ul>
  <li>Multiple fun and useful commands</li>
  <li>Point and profile system</li>
  <li>Point games</li>
  <li>Moderation tools</li>
  <li>Songrequest</li>
  <li>Chat logger</li>
  <li>Top 5 clips</li>
</ul>

<h3>Future</h3>
<p>I plan to improve the bot a whole lot in the future. I can't do this alone, so if you have suggestion please submit an issue on the <a href="https://www.github.com/Mstiekema/Yucibot">
Github</a> page.</p>
</div>
<script type="text/javascript" src="../js/yucisite.js"></script>
</body>
