<% include header.ejs %>
<script>
var socket = io.connect('<%= locals.website %>');

var yucibot = angular.module('yucibot',[]).config(function($sceDelegateProvider) {$sceDelegateProvider.resourceUrlWhitelist(["https://clips.twitch.tv/**"])})
yucibot.controller('clips', function($scope, $interval, $log, $timeout) { 
	socket.on('sendClips', function (data) { 
		var iframe = JSON.parse(data).clips
		$log.log(iframe)
	    $timeout(function () {
	        $scope.iframe = iframe
	    }, 100);
	})
})

</script>
<div class="top"><h1>Top clips</h1></div>
<div class="search"><input id="searchBar" type="text"></div>
<div class="main" ng-app="yucibot" ng-controller="clips">

<p class="allClips" ng-repeat="iframe in iframe">
Title: {{ iframe.title }}<br>
Creator: {{ iframe.curator.name }}<br>
Views: {{ iframe.views }}<br>
<iframe ng-src='{{ iframe.embed_url + "&autoplay=false"}}' width='640' height='360' frameborder='0' scrolling='no' allowfullscreen='true'></iframe>
</p>

</div>
<script type="text/javascript" src="../js/yucisite.js"></script>
</body>