<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<script src="/socket.io/socket.io.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="../js/clr.js"></script>
<script>
  var socket = io.connect('<% locals.website %>');
  socket.on('meme', function(data) {
    var src = document.getElementsByTagName('source')[0]
    var video = document.getElementsByTagName('video')[0]
    src.setAttribute("src", data.meme)
    video.load();
    video.play();
    video.volume = 0.1;
    $(video).fadeIn(100);
    document.getElementsByTagName('video')[0].addEventListener('ended', function() {$("#meme").fadeOut(500);})
  });
  socket.on('message', function (data) {
    console.log("Showed message: " + data.message)
    var id = "id" + (String(Math.floor(Math.random() * 1000000)))
    $("body").append("<p id="+id+">" + data.user + ": " + data.message + " </p><br>")
    $("#" + id).hide()
    $("#" + id).fadeIn(1000)
    document.getElementById(id).style.position = "absolute"
    document.getElementById(id).style.left = 100
    document.getElementById(id).style.top = 100
    setTimeout(function () { $("#" + id).fadeOut(1000); }, 5000);
    setTimeout(function () { document.getElementById(id).remove() }, 6000);
  });
  socket.on('emote', function (data) {
    console.log("Showed emote: " + data.emote)
    var id = "id" + (String(Math.floor(Math.random() * 1000000)))
    function getX() { return Math.floor(Math.random() * ($(window).width() - 300)) }
    function getY() { return Math.floor(Math.random() * $(window).height()) }
    $("body").append("<img id="+id+" src="+data.url+"><br>")
    $("#" + id).hide()
    $("#" + id).fadeIn(1000)
    document.getElementById(id).style.position = "absolute"
    document.getElementById(id).style.left = getX()
    document.getElementById(id).style.top = getY()
    setTimeout(function () { $("#" + id).fadeOut(1000); }, 5000);
    setTimeout(function () { document.getElementById(id).remove() }, 6000);
  });
  socket.on('sound', function (data) {
    console.log("Played sound: " + data.sound)
    var sound = new Audio(sounds[data.sound]);
    sound.play();
  });
  socket.on('gif', function (data) {
    console.log("Played gif: " + data.gif)
    var id = "id" + (String(Math.floor(Math.random() * 1000000)))
    $(".gif").append("<img style='width='300'; height='300';' id="+id+" src="+gifs[data.gif]+" align='middle'><br>")
    $("#" + id).hide()
    $("#" + id).fadeIn(1000)
    setTimeout(function () { $("#" + id).fadeOut(1000); }, 7000);
    setTimeout(function () { document.getElementById(id).remove() }, 8000);
  });
  socket.on('chatEmote', function (data) {
    var id = "id" + (String(Math.floor(Math.random() * 1000000)))
    function getX() { return Math.floor(Math.random() * ($(window).width() - 300)) }
    function getY() { return Math.floor(Math.random() * $(window).height()) }
    $("body").append("<img id="+id+" src="+data.emote+"><br>")
    $("#" + id).hide()
    $("#" + id).fadeIn(1000)
    document.getElementById(id).style.position = "absolute"
    document.getElementById(id).style.left = getX()
    document.getElementById(id).style.top = getY()
    setTimeout(function () { $("#" + id).fadeOut(1000); }, 5000);
    setTimeout(function () { document.getElementById(id).remove() }, 6000);
  });
</script>
<style>
body {
  overflow: hidden;
}

p {
  color: lightgray;
  text-shadow: 2px 2px 2px black;
  font-size: 40;
  font-family: 'Roboto', sans-serif;
}

.gif {
  position: absolute;
  width: 300px;
  height: 200px;
  top: 25%;
  left: 50%;
  margin: -100px 0 0 -150px;
}

#meme {
  position: absolute;
  width: 640px;
  height: 360px;
  top: 25%;
  left: 50%;
  margin: -100px 0 0 -320px;
}
</style>
<body>
<video id="meme" width="640" height="360" autoplay="true">
  <source src="test" type="video/mp4">
</video>
<div class="gif"></div>
</body>
