<% include header.ejs %>
<div class="main">
<h2>CLR Information</h2>

<p>
  CLR commands are a fun way to interact witd the stream. Each of the CLR commands cost <b>1000 points</b>.<br>
  You have to buy the clr command each time you want to play or show sometding on stream. It's not a one time purchase.
</p>

<p><b>!clr msg [message]</b><br>
  Shows your message after the command call. Displays it on a random spot on the screen.
</p>

<p><b>!clr emote [emote]</b><br>
  Shows the emote you send in. Currently only works witd: Twitch global emotes, BTTV channel and global emotes, FFZ channel and global emotes.
</p>

<p><b>!clr sound [sound]</b><br>
  Plays one of the sounds listed below. <br><br>
  <table class="pure-table testSounds">
    <thead><tr><th>Sound</th><th>Example</th></tr></thead><tbody>
    <% clr.forEach(function(clr) { if(clr.type == "sound") { %>
    <tr class="pure-table"><td><%= clr.name %></td><td><button class="pure-button sound <%= clr.name %>" id="<%= clr.url %>">Play</button></td></tr>
    <% }}) %>
    </tbody>
  </table>
  <br>
</p>

<p><b>!clr gif [gif]</b><br>
  Plays one of the following GIFs listed below. <br>
  <table class="pure-table testGifs">
    <thead><tr><th>Sound</th><th>Example</th></tr></thead><tbody>
    <% clr.forEach(function(clr) { if(clr.type == "gif") { %>
    <tr class="pure-table"><td><%= clr.name %></td><td><button class="pure-button gif <%= clr.name %>" id="<%= clr.url %>">Play</button></td></tr>
    <% }}) %>
    </tbody>
  </table>
  <br>
</p>

</div>
<div id="showBox">
  <div id="showStuff">
    <div class="modal-header">
      <button type="button" class="close" id="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 id="modalTitle">CLR preview</h4>
    </div>
    <div id="gifSpot"></div>
    <div id="showText">
      <% if (locals.login == true) { %>
        Click the button to buy the CLR command online! &nbsp;
        <button class="btn btn-default" id="buyThing">Buy</button>
      <% } else { %>
        Login and buy tdis CLR command online!
      <% } %>
  </div>
  </div>
</div>
<script type="text/javascript" src="../js/yucisite.js"></script>
<script type="text/javascript" src="../js/clr.js"></script>
</body>
