<% include header.ejs %>
<div class="top"><h2>Commands</h2></div>
<div class="main">
<br>
<button id="switchPageE">Everyone</button>
<button id="switchPageS">Sub</button>
<button id="switchPageM">Mod</button>

<% commands.forEach(function(commands) { %>
  <% if (commands.level == 100) { %>
  <div class="commands allCommands"><p>
    <b>Command:</b> <%= commands.commName %>:
    <% if (commands.commDesc != null) { %> <%= commands.commDesc %> <% } %>
    <% if (commands.response != null) { %> <%= commands.response %> <% } %>
    <button class="commDetails" id="<%= commands.commName %>">More details</button>
  </p></div>
  <% } else if (commands.level == 300) { %>
    <div class="commands modCommands"><p>
      <b>Command:</b> <%= commands.commName %>:
      <% if (commands.commDesc != null) { %> <%= commands.commDesc %> <% } %>
      <% if (commands.response != null) { %> <%= commands.response %> <% } %>
      <button class="commDetails" id="<%= commands.commName %>">More details</button>
    </p></div>
  <% } else if (commands.level == 150) { %>
    <div class="commands subCommands"><p>
      <b>Command:</b> <%= commands.commName %>:
      <% if (commands.commDesc != null) { %> <%= commands.commDesc %> <% } %>
      <% if (commands.response != null) { %> <%= commands.response %> <% } %>
      <button class="commDetails" id="<%= commands.commName %>">More details</button>
    </p></div>
  <% } %>
<% }) %>
</div>
<script type="text/javascript" src="../js/yucisite.js"></script>
<script type="text/javascript" src="../js/commandPage.js"></script>
</body>
