<% include header.ejs %>
<div class="top"><h2>Command details | <%= commands[0].commName %></h2></div>
<div class="main">

<div class="commandsDetails"><p>
  <b>Command:</b> <%= commands[0].commName %> <br>
  <% if (commands[0].commDesc != null) { %> <b>Description:</b> <%= commands[0].commDesc %> <br> <% } %>
  <% if (commands[0].response != null) { %><b>Response:</b> <%= commands[0].response %> <br> <% } %>
  <% if (commands[0].commUse != null) { %> <b>Usage:</b><br> <%= commands[0].commUse %> <br> <% } %>
  <b>Cooldown type:</b> <%= commands[0].cdType %> <br>
  <b>Cooldown:</b> <%= commands[0].cd %> seconds <br>
  <b>User level:</b> <%= commands[0].level %>
</p></div>

</div>
<script type="text/javascript" src="../js/yucisite.js"></script>
</body>
