<html lang="en" ng-app="yucibot" >
<head>
<link rel="stylesheet" type="text/css" href="../css/yucibot.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.2/angular.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="../js/menu.js"></script>
<title>Yucibot</title>
</head>
<body>

<div class="logo"></div>

<div class="top"><h1>Error!</h1></div>

<div ng-include="'../html/menu.htm'"></div>

<div class="main" ng-app="yucibot" ng-controller="template">
	<p>This page is not available :/</p>
</div>

<div class="search"><input id="searchBar" type="text"></div>
<script type="text/javascript" src="../js/yucisite.js"></script>
<script type="text/javascript" src="../js/mainController.js"></script>
</body>