<% include header.ejs %>
<script>
function change() {
    var x = document.getElementById("myDate");
    var currentVal = x.value;
    window.location.href = "/history/" + currentVal;
}
</script>
<div class="top"><h1>Songlist history</h1></div>
<div class="main">
<div class="songQueueHistory">

<h2>Songlist of <%= listDate %> </h2>
<% if (currSong[0].songid != undefined) { %>
<p>Current song: <%= currSong[0].title %><br>Requested by: <%= currSong[0].name %> <a href="https://www.youtube.com/watch?v=<%= currSong[0].name %>">YouTube link</a>
<% } %>
<div id="selectDate"><label>Select stream date</label>
<input type="date" id="myDate" onchange="change()" value="<%= listDate %>"></div>
<% if (songInfo != false) { %>
	<% songInfo.forEach(function(songInfo) { %>
		<% if (songInfo.title == currSong[0].title) { %>
			<div class="songItemHistory" id="playing">
			<img src="<%= songInfo.thumb %>"></div><div id ="songItemInfoHistory"><p> <%= songInfo.title %> requested by: <%= songInfo.name %>
			<br><a href="https://www.youtube.com/watch?v=<%= songInfo.songid %>" target="_blank" id="ytlink">YouTube link</a></p>
		<% } else if (songInfo.playState == 0) { %>
			<div class="songItemHistory">
			<img src="<%= songInfo.thumb %>"></div><div id ="songItemInfoHistory"><p> <%= songInfo.title %> requested by: <%= songInfo.name %>
			<br><a href="https://www.youtube.com/watch?v=<%= songInfo.songid %>" target="_blank" id="ytlink">YouTube link</a></p>
		<% } else if (songInfo.playState == 2) { %>
		<% } else { %>
			<div class="songItemHistory" id="played">
			<img src="<%= songInfo.thumb %>"></div><div id ="songItemInfoHistory"><p> <%= songInfo.title %> requested by: <%= songInfo.name %>
			<br><a href="https://www.youtube.com/watch?v=<%= songInfo.songid %>" target="_blank" id="ytlink">YouTube link</a></p>
		<% } %>
	<% }); %>
<% } else { %>
There aren't any songrequests available from <%= listDate %>
<% } %>
</div>
</div>
<script type="text/javascript" src="../js/yucisite.js"></script>
</body>
