<% include header.ejs %>
<div class="top"><h1>Support</h1></div>
<div class="search"><input id="searchBar" type="text"></div>
<div class="main">

<h3>Support</h3>
<p>Working on this bot takes up a whole lot of my time. If you, as a viewer, want to support me, the developer of the bot, you can do that down below. Support of course isn't required, but always appriciated! If you donate, I'll add you to the "special" donator list down below.</p>

<p class="donate" onclick="donate()">Donate</p>

<br>
<u>All donators</u>
<ul>
  <!-- <li></li> -->
</ul>
</div>
<script type="text/javascript" src="../js/yucisite.js"></script>
</body>